name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file dockerfile-aspnet-gdi --tag decg-docker-local.artifactory-ehv.ta.philips.com/aspnet_gdi:$ver --build-arg VER=$ver
      env:
        ver: 10.0.1

    - uses: actions/checkout@v4
    - name: Build the teamcity agent
      run: docker build . --file dockerfile-teamcity-agent-net --tag decg-docker-local.artifactory-ehv.ta.philips.com/taamcity-agent-net
